
.details-div-visible {
  visibility: visible; }

.details-div-hidden {
  visibility: hidden;
  display: none; }

.div-visible {
  visibility: visible; }

.div-hidden {
  visibility: hidden;
  display: none; }
