
.details-div-visible {
  visibility: visible; }

.details-div-hidden {
  visibility: hidden;
  display: none; }

.div-visible {
  visibility: visible; }

.div-hidden {
  visibility: hidden;
  display: none; }

.book-smallThumbnail{
  height: 180px;
  width:  auto;
}

.trade-requested{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    )
}
